<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shiftdev.postbud">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PostBud"
        tools:ignore="AllowBackup">
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_welcome"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParcelDetailActivity"
            android:label="Parcel Details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.PostBud.NoActionBar" />
        <activity
            android:name=".ParcelListActivity"
            android:label="Parcel List" />
        <activity
            android:name=".EditParcelActivity"
            android:label="Edit Parcel" />
        <activity
            android:name=".AddParcelActivity"
            android:label="Add New Parcel" />
        <activity
            android:name=".ui.activities.administratorMenuActivity"
            android:label="Add New Parcel"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.activities.recentNumbersActivity"
            android:label="recent numbers"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:label="login page"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.activities.employeeMenuActivity"
            android:label="employee activity"
            android:parentActivityName=".ui.activities.LoginActivity" />
        <activity
            android:name=".ui.activities.addEmployeeActivity"
            android:label="Add Employee Activity "
            android:parentActivityName=".ui.activities.administratorMenuActivity" />
        <activity
            android:name=".ui.activities.parcelManagementActivity"
            android:label="Parcel Management Activity"
            android:parentActivityName=".ui.activities.administratorMenuActivity" />
        <activity
            android:name=".ui.activities.parcelStatusActivity"
            android:label="Parcel Status Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
    </application>

</manifest>